.main_container{
    display: flex;
}
.right_container {
    /* display: flex;
    flex-direction: column;
    width: 100%; */
    padding: 40px;
  }
  .welcome_container > span {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #180344;
  }
.right_sub_container {
    background: #f7f6f9;
    box-shadow: 0px 0px 24px rgba(166, 165, 169, 0.08);
    border-radius: 12px;
    padding: 14px 14px 14px 14px;
    margin-top: 40px;

  }
  .rating_reviews .header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 40px 0px;
  }
  .rating_reviews .header h4{
  font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
/* identical to box height */


/* Primary blue 1 */

color: #180344;
  }
  .rating_reviews p{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    
    /* Gray 3 */
    
    color: #828282;
    }
    .ratingDetailWrspper {
        max-height: 300px;
        overflow-y: scroll;
    }
    .ratingdetailwrapper {
        padding-bottom: 40px;
    }
    .ratingdetailwrapper  p.description {
        padding: 0px 0px 15px 0px;
    }
    .descriptionImages img {
        margin: 0px 5px;
    }
    .clientbox {
        display: flex;
        padding: 0px;
    }
    .clientDetail {
        padding: 0px 20px;
    }
    .rating_reviews h3{
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 27px;
        /* identical to box height, or 169% */
        
        
        /* Black */
        
        color: #151515;
        }
  .rightContent {
    background-color: #fff;
    padding: 20px;
    margin: 0px 5px;
    border-radius: 8px;
  }
  .rightContent h4.descriptionTitle {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    
    /* Primary blue 1 */
    
    color: #180344;
  }
  .descriptionDetail {
    margin-top: 20px;
    border: 1px solid #F2F2F2;
border-radius: 12px;
padding: 16px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* or 150% */


/* Gray 3 */

color: #828282;
  }
  /* For WebKit based browsers */
::-webkit-scrollbar {
    width: 6px; /* width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(53, 35, 195, 0.13); /* color of the scrollbar track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3523C3; /* color of the scrollbar handle */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3523C3; /* color of the scrollbar handle on hover */
  }
.header select {
    background-color: #F7F6F9;
    padding: 8px 16px;
    border-radius: 15px;
    border: 1px solid #E0E0E0;

}
.header {
    align-items: center;
}
  @media screen and (max-width:1550px) {
    .clientDetail {
        padding: 0px 8px;
    }
    .clientDetail img {
        width: 80px;
    }
    .rating_reviews h3 {
        font-size: 12px;
    }
    .rating_reviews p {
        font-size: 14px;
    }
    .descriptionImages img {
       width: 110px;
    }
  }